In [1]:
import pandas as pd
import pymysql

In [2]:
# 连接本地的mysql数据库，使用sakila库，sakila库是mysql的示例库，一般都有，如果没有的可以安装
# 如果不实际运行sql和pandans语句可以不执行这段代码
conn = pymysql.connect(host="127.0.0.1", user="root", passwd="root", db="sakila", port=3306, charset='utf8')
film_df = pd.read_sql("select * from film;", conn)
film_actor_df = pd.read_sql("select * from film_actor;", conn)
actor_df = pd.read_sql("select * from actor;", conn)

# desc
*注：一般每个code cell里前面的是sql语句（用#注释起来了），随后是对应的pandas语句*

In [5]:
# desc film;
film_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
film_id                 1000 non-null int64
title                   1000 non-null object
description             1000 non-null object
release_year            1000 non-null int64
language_id             1000 non-null int64
original_language_id    0 non-null object
rental_duration         1000 non-null int64
rental_rate             1000 non-null float64
length                  1000 non-null int64
replacement_cost        1000 non-null float64
rating                  1000 non-null object
special_features        1000 non-null object
last_update             1000 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(5), object(5)
memory usage: 101.6+ KB

In [6]:
film_df.columns.values

array(['film_id', 'title', 'description', 'release_year', 'language_id',
       'original_language_id', 'rental_duration', 'rental_rate', 'length',
       'replacement_cost', 'rating', 'special_features', 'last_update'], dtype=object)

In [7]:
film_df.shape

(1000, 13)

# select

In [ ]:
# select * 
# from film;
film_df

In [9]:
# select * 
# from film 
# limit 3;
film_df.head(3) # we can also transepose the result by add .T, film_df.head(3).T

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42

In [18]:
# select film_id, title, description
# from film
# limit 10, 5;
film_df[["film_id", "title", "description"]][10:10 + 5] # in sql 10 is offset, 5 is limit, so [10:10 + 5] in pandas

,film_id,title,description
10,11,ALAMO VIDEOTAPE,A Boring Epistle of a Butler And a Cat who mus...
11,12,ALASKA PHANTOM,A Fanciful Saga of a Hunter And a Pastry Chef ...
12,13,ALI FOREVER,A Action-Packed Drama of a Dentist And a Croco...
13,14,ALICE FANTASIA,A Emotional Drama of a A Shark And a Database ...
14,15,ALIEN CENTER,A Brilliant Drama of a Cat And a Mad Scientist...

In [29]:
# select distinct rating
# from film;

film_df['rating'].unique()

array(['PG', 'G', 'NC-17', 'PG-13', 'R'], dtype=object)

# count

In [19]:
# select count(*)
# from film;

len(film_df)

1000

In [30]:
# select count(distinct rating)
# from film;

len(film_df['rating'].unique())

5

# where

In [20]:
# select film_id, title, description
# from film
# where film_id = 10;

film_df[film_df["film_id"] == 10][["film_id", "title", "description"]]

,film_id,title,description
9,10,ALADDIN CALENDAR,A Action-Packed Tale of a Man And a Lumberjack...

In [ ]:
# select film_id, title, description
# from film
# where rental_rate > 2
#       and length < 120;

film_df[(film_df["rental_rate"] > 2) & (film_df["length"] < 120)][["film_id", "title", "description"]]

# in

In [3]:
# SELECT  * FROM sakila.film
# where rental_duration in (3,6,7);

film_df

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42
5,6,AGENT TRUMAN,A Intrepid Panorama of a Robot And a Boy who m...,2006,1,None,3,2.99,169,17.99,PG,Deleted Scenes,2006-02-15 05:03:42
6,7,AIRPLANE SIERRA,A Touching Saga of a Hunter And a Butler who m...,2006,1,None,6,4.99,62,28.99,PG-13,"Trailers,Deleted Scenes",2006-02-15 05:03:42
7,8,AIRPORT POLLOCK,A Epic Tale of a Moose And a Girl who must Con...,2006,1,None,6,4.99,54,15.99,R,Trailers,2006-02-15 05:03:42
8,9,ALABAMA DEVIL,A Thoughtful Panorama of a Database Administra...,2006,1,None,3,2.99,114,21.99,PG-13,"Trailers,Deleted Scenes",2006-02-15 05:03:42
9,10,ALADDIN CALENDAR,A Action-Packed Tale of a Man And a Lumberjack...,2006,1,None,6,4.99,63,24.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
10,11,ALAMO VIDEOTAPE,A Boring Epistle of a Butler And a Cat who mus...,2006,1,None,6,0.99,126,16.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
11,12,ALASKA PHANTOM,A Fanciful Saga of a Hunter And a Pastry Chef ...,2006,1,None,6,0.99,136,22.99,PG,"Commentaries,Deleted Scenes",2006-02-15 05:03:42
12,13,ALI FOREVER,A Action-Packed Drama of a Dentist And a Croco...,2006,1,None,4,4.99,150,21.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
13,14,ALICE FANTASIA,A Emotional Drama of a A Shark And a Database ...,2006,1,None,6,0.99,94,23.99,NC-17,"Trailers,Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
14,15,ALIEN CENTER,A Brilliant Drama of a Cat And a Mad Scientist...,2006,1,None,5,2.99,46,10.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42
15,16,ALLEY EVOLUTION,A Fast-Paced Drama of a Robot And a Composer w...,2006,1,None,6,2.99,180,23.99,NC-17,"Trailers,Commentaries",2006-02-15 05:03:42
16,17,ALONE TRIP,A Fast-Paced Character Study of a Composer And...,2006,1,None,3,0.99,82,14.99,R,"Trailers,Behind the Scenes",2006-02-15 05:03:42
17,18,ALTER VICTORY,A Thoughtful Drama of a Composer And a Feminis...,2006,1,None,6,0.99,57,27.99,PG-13,"Trailers,Behind the Scenes",2006-02-15 05:03:42
18,19,AMADEUS HOLY,A Emotional Display of a Pioneer And a Technic...,2006,1,None,6,0.99,113,20.99,PG,"Commentaries,Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
19,20,AMELIE HELLFIGHTERS,A Boring Drama of a Woman And a Squirrel who m...,2006,1,None,4,4.99,79,23.99,R,"Commentaries,Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
20,21,AMERICAN CIRCUS,A Insightful Drama of a Girl And a Astronaut w...,2006,1,None,3,4.99,129,17.99,R,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
21,22,AMISTAD MIDSUMMER,A Emotional Character Study of a Dentist And a...,2006,1,None,6,2.99,85,10.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
22,23,ANACONDA CONFESSIONS,A Lacklusture Display of a Dentist And a Denti...,2006,1,None,3,0.99,92,9.99,R,"Trailers,Deleted Scenes",2006-02-15 05:03:42
23,24,ANALYZE HOOSIERS,A Thoughtful Display of a Explorer And a Pastr...,2006,1,None,6,2.99,181,19.99,R,"Trailers,Behind the Scenes",2006-02-15 05:03:42
24,25,ANGELS LIFE,A Thoughtful Display of a Woman And a Astronau...,2006,1,None,3,2.99,74,15.99,G,Trailers,2006-02-15 05:03:42
25,26,ANNIE IDENTITY,A Amazing Panorama of a Pastry Chef And a Boat...,2006,1,None,3,0.99,86,15.99,G,"Commentaries,Deleted Scenes",2006-02-15 05:03:42
26,27,ANONYMOUS HUMAN,A Amazing Reflection of a Database Administrat...,2006,1,None,7,0.99,179,12.99,NC-17,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
27,28,ANTHEM LUKE,A Touching Panorama of a Waitress And a Woman ...,2006,1,None,5,4.99,91,16.99,PG-13,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
28,29,ANTITRUST TOMATOES,A Fateful Yarn of a Womanizer And a Feminist w...,2006,1,None,5,2.99,168,11.99,NC-17,"Trailers,Commentaries,Deleted Scenes",2006-02-15 05:03:42
29,30,ANYTHING SAVANNAH,A Epic Story of a Pastry Chef And a Woman who ...,2006,1,None,4,2.99,82,27.99,R,"Trailers,Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,971,WHALE BIKINI,A Intrepid Story of a Pastry Chef And a Databa...,2006,1,None,4,4.99,109,11.99,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
971,972,WHISPERER GIANT,A Intrepid Story of a Dentist And a Hunter who...,2006,1,None,4,4.99,59,24.99,PG-13,"Trailers,Deleted Scenes",2006-02-15 05:03:42
972,973,WIFE TURN,A Awe-Inspiring Epistle of a Teacher And a Fem...,2006,1,None,3,4.99,183,27.99,NC-17,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
973,974,WILD APOLLO,A Beautiful Story of a Monkey And a Sumo Wrest...,2006,1,None,4,0.99,181,24.99,R,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-15 05:03:42
974,975,WILLOW TRACY,A Brilliant Panorama of a Boat And a Astronaut...,2006,1,None,6,2.99,137,22.99,R,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42
975,976,WIND PHANTOM,A Touching Saga of a Madman And a Forensic Psy...,2006,1,None,6,0.99,111,12.99,R,"Commentaries,Deleted Scenes",2006-02-15 05:03:42
976,977,WINDOW SIDE,A Astounding Character Study of a Womanizer An...,2006,1,None,3,2.99,85,25.99,R,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
977,978,WISDOM WORKER,A Unbelieveable Saga of a Forensic Psychologis...,2006,1,None,3,0.99,98,12.99,R,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
978,979,WITCHES PANIC,A Awe-Inspiring Drama of a Secret Agent And a ...,2006,1,None,6,4.99,100,10.99,NC-17,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
979,980,WIZARD COLDBLOODED,A Lacklusture Display of a Robot And a Girl wh...,2006,1,None,4,4.99,75,12.99,PG,"Commentaries,Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
980,981,WOLVES DESIRE,A Fast-Paced Drama of a Squirrel And a Robot w...,2006,1,None,7,0.99,55,13.99,NC-17,Behind the Scenes,2006-02-15 05:03:42
981,982,WOMEN DORADO,A Insightful Documentary of a Waitress And a B...,2006,1,None,4,0.99,126,23.99,R,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
982,983,WON DARES,A Unbelieveable Documentary of a Teacher And a...,2006,1,None,7,2.99,105,18.99,PG,Behind the Scenes,2006-02-15 05:03:42
983,984,WONDERFUL DROP,A Boring Panorama of a Woman And a Madman who ...,2006,1,None,3,2.99,126,20.99,NC-17,Commentaries,2006-02-15 05:03:42
984,985,WONDERLAND CHRISTMAS,A Awe-Inspiring Character Study of a Waitress ...,2006,1,None,4,4.99,111,19.99,PG,Commentaries,2006-02-15 05:03:42
985,986,WONKA SEA,A Brilliant Saga of a Boat And a Mad Scientist...,2006,1,None,6,2.99,85,24.99,NC-17,"Trailers,Commentaries",2006-02-15 05:03:42
986,987,WORDS HUNTER,A Action-Packed Reflection of a Composer And a...,2006,1,None,3,2.99,116,13.99,PG,"Trailers,Commentaries,Deleted Scenes",2006-02-15 05:03:42
987,988,WORKER TARZAN,A Action-Packed Yarn of a Secret Agent And a T...,2006,1,None,7,2.99,139,26.99,R,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42
988,989,WORKING MICROCOSMOS,A Stunning Epistle of a Dentist And a Dog who ...,2006,1,None,4,4.99,74,22.99,R,"Commentaries,Deleted Scenes",2006-02-15 05:03:42
989,990,WORLD LEATHERNECKS,A Unbelieveable Tale of a Pioneer And a Astron...,2006,1,None,3,0.99,171,13.99,PG-13,"Trailers,Behind the Scenes",2006-02-15 05:03:42
990,991,WORST BANGER,A Thrilling Drama of a Madman And a Dentist wh...,2006,1,None,4,2.99,185,26.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
991,992,WRATH MILE,A Intrepid Reflection of a Technical Writer An...,2006,1,None,5,0.99,176,17.99,NC-17,"Trailers,Commentaries",2006-02-15 05:03:42
992,993,WRONG BEHAVIOR,A Emotional Saga of a Crocodile And a Sumo Wre...,2006,1,None,6,2.99,178,10.99,PG-13,"Trailers,Behind the Scenes",2006-02-15 05:03:42
993,994,WYOMING STORM,A Awe-Inspiring Panorama of a Robot And a Boat...,2006,1,None,6,4.99,100,29.99,PG-13,Deleted Scenes,2006-02-15 05:03:42
994,995,YENTL IDAHO,A Amazing Display of a Robot And a Astronaut w...,2006,1,None,5,4.99,86,11.99,R,"Trailers,Commentaries,Deleted Scenes",2006-02-15 05:03:42
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,None,6,0.99,183,9.99,G,"Trailers,Behind the Scenes",2006-02-15 05:03:42
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,None,4,0.99,179,14.99,NC-17,"Trailers,Behind the Scenes",2006-02-15 05:03:42
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,None,6,0.99,105,10.99,NC-17,Deleted Scenes,2006-02-15 05:03:42
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,None,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",2006-02-15 05:03:42
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42

# order by

In [ ]:
# 按照评分从低到高对电影进行排序
# select rental_rate, film_id, title, description
# from film
# order by rental_rate
 
film_df.sort_values(['rental_rate'])[["rental_rate", "film_id", "title", "description"]]  # 默认升序 非原地

In [ ]:
# 按照评分从高到低对电影进行排序
# select rental_rate, film_id, title, description
# from film
# order by rental_rate desc
 
film_df.sort_values(['rental_rate'], ascending=0)[["rental_rate", "film_id", "title", "description"]]  # 降序 非原地

# group by

In [43]:
# select rating, count(*)
# from film
# group by rating

film_df.rating.value_counts()

PG-13    223
NC-17    210
R        195
PG       194
G        178
Name: rating, dtype: int64

In [37]:
# select release_year, rating, count(*)
# from film
# group by release_year, rating

film_df.groupby(["release_year", "rating"]).size()  # the result type is series, we can trans it to Dataframe by reset_index

release_year  rating
2006          G         178
              NC-17     210
              PG        194
              PG-13     223
              R         195
dtype: int64

In [39]:
# select release_year, rating, count(*) as counts
# from film
# group by release_year, rating

film_df.groupby(["release_year", "rating"]).size().reset_index(name="counts")  # the result type is Dataframe and rename the column

   release_year rating  counts
0          2006      G     178
1          2006  NC-17     210
2          2006     PG     194
3          2006  PG-13     223
4          2006      R     195

In [45]:
# select  rating , count(distinct rental_duration)  as rental_duration_type_count
# from  film
# group by rating;

film_df.groupby('rating').rental_duration.nunique().reset_index(name="rental_duration_type_count")

  rating  rental_duration_type_count
0      G                           5
1  NC-17                           5
2     PG                           5
3  PG-13                           5
4      R                           5

In [80]:
# select rating, count(distinct length) as length_distinct_count, avg(length) as length_mean, avg(rental_rate) as rental_rate_mean
# from film
# group by rating;

## [DEPRECATED] Dictionary groupby format
使用一种叫Dictionary groupby format的方式，然后droplevel(0)，最后reset_index

In [79]:
new_df = film_df.groupby("rating").agg({"length": {"length_distinct_count": lambda x: x.nunique(), 
                                                   "length_mean": "mean"},
                                        "rental_rate": {"rental_rate_mean": "mean"}})
new_df

                      length                  rental_rate
       length_distinct_count length_mean rental_rate_mean
rating
G                        109  111.050562         2.888876
NC-17                    110  113.228571         2.970952
PG                       106  112.005155         3.051856
PG-13                    116  120.443946         3.034843
R                        103  118.661538         2.938718

In [77]:
new_df.columns = new_df.columns.droplevel(0)
new_df

        length_distinct_count  length_mean  rental_rate_mean
rating
G                         109   111.050562          2.888876
NC-17                     110   113.228571          2.970952
PG                        106   112.005155          3.051856
PG-13                     116   120.443946          3.034843
R                         103   118.661538          2.938718

In [78]:
new_df.reset_index()

  rating  length_distinct_count  length_mean  rental_rate_mean
0      G                    109   111.050562          2.888876
1  NC-17                    110   113.228571          2.970952
2     PG                    106   112.005155          3.051856
3  PG-13                    116   120.443946          3.034843
4      R                    103   118.661538          2.938718

## Use 'named' functions instead of lambda's:
但是上面用嵌套字典的来重命名计算的字段的方式已经[DEPRECATED]了 (>=0.20.1),推荐的方式是用函数代替匿名函数

In [84]:
def length_distinct_count(group):
    return group.nunique()
    
def length_mean(group):
    return group.mean()
    
def rental_rate_mean(group):
    return group.mean()
    
new_df = film_df.groupby("rating").agg({"length": [length_distinct_count, length_mean],
                                        "rental_rate": rental_rate_mean})
new_df

# 后面的做法同上

                      length                  rental_rate
       length_distinct_count length_mean rental_rate_mean
rating
G                        109  111.050562         2.888876
NC-17                    110  113.228571         2.970952
PG                       106  112.005155         3.051856
PG-13                    116  120.443946         3.034843
R                        103  118.661538         2.938718